@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Grocery</h1>
    <p class="lead">Becuase Everyone Deserves to Eat Good Food</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <ul>
                <li></li>
            </ul>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>All the Meats</h2>
        <p>Check out our selection of meats from the main animals used to consume protein in the United States</p>
        <p><a class="btn btn-default" href="">Non-Vegetarians &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baking</h2>
        <p>Get the ingredients you need to create home made meals from scratch.</p>
        <p><a class="btn btn-default" href="">Learn More &raquo;</a></p>
    </div><div class="col-md-4">
        <h2>Plants</h2>
        <p>No matter which plant you prefer, we have the fruit or vegetable you need to live a healthy life</p>
        <p><a class="btn btn-default" href="">Health Living &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Recipe</h2>
        <p>Recipes are created to make delicious meals for you, your family and friends.</p>
        <p><a class="btn btn-default" href="">Check Out Ours &raquo;</a></p>
    </div>
</div>