@{
    ViewBag.Title = "Home Page";
}

<div class="text-center grocery-image">
    <h1>Eat Good Food</h1>
</div>

<div class="row bg-success p-5 m-5 text-white text-center">
    <div class="col-md-3 bg-red p-5">
        <h2>All the Meats</h2>
        <p>Meats from the main animals used to consume protein in the United States</p>
        <button class="btn btn-primary m-5"> @Html.ActionLink("Non-Vegetarians >>", "Meat", "Home")</button>
    </div>
    <div class="col-md-3 bg-lightgrey p-5">
        <h2>Baking</h2>
        <p>Get the ingredients you need to create home made meals from scratch</p>
        <button class="btn btn-info m-5"> @Html.ActionLink("Learn More >>", "Baking", "Home")</button>
    </div>
    <div class="col-md-3 bg-lightgreen p-5">
        <h2>Plants</h2>
        <p>We have the vegetation you need to live a healthy life</p>
        <button class="btn btn-warning m-5"> @Html.ActionLink("Healthy Living >>", "Plants", "Home")</button>
    </div>
    <div class="col-md-3 bg-lightyellow p-5">
        <h2>Recipes</h2>
        <p>Recipes are created to make delicious meals for you, your family and friends</p>
        <button class="btn btn-danger m-5"> @Html.ActionLink("Check Out Ours >>", "Recipes", "Home")</button>
    </div>
</div>