@using Grocery.Models;
@{
    ViewBag.Title = "Recipes";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Pick Your Favorite</p>
@using (var _groceryRepoItems = new GroceryContext())
{
    @*puts inventory into an array.*@
    var inventory = _groceryRepoItems.GroceryItems.ToArray();
    @*lists items for recipe. Used strings due to ints not providing correct items. ???*@
    List<string> potatoSoupIds = new List<string> { "Potato", "Milk", "Butter", "Pepper", "Salt", "Bacon", "Celery", "Onion", "Vegetable Broth" };
    List<Items> potatoSoupItems = new List<Items> { };
                foreach (string name in potatoSoupIds)
                {
                    foreach (Items item in inventory)
                    {
                        if(item.ItemName == name)
                        {
                            potatoSoupItems.Add(item);
                        }
                    }
                }
        <table class="table table-striped">
            <thead>
            </thead>
            <tbody>
                @foreach (var item in potatoSoupItems)
                {
                    <tr>
                        <td><img src="/Images/@item.CoverImageFileName" alt="@item.ItemName" class="image-responsive h-7" /></td>
                        <td>@item.ItemName</td>
                        <td>$@item.Price.00</td>
                    </tr>
                }
                @*sends potato as post rather than list*@
                @using (Html.BeginForm())
                        {
                    <tr>
                        <td><button type="submit" class="btn btn-primary" value="potato" name="Items">Add</button></td>
                    </tr>
                        }
            </tbody>
        </table>
    }