@model Grocery.Models.ShoppingCart
@{
    ViewBag.Title = "Shopping Cart";
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p>@ViewBag.Message</p>

    @using (Html.BeginForm())
    {
        <div>
            <div class="form-group">
                <h4>Total Price of Purchase: $@ViewBag.TotalPrice.00</h4>
                <h4>@Model.GetCartItems</h4>
                <button type="submit" class="btn btn-primary auto" value="false">-</button>
                <button type="submit" class="btn btn-primary auto" value="false">+</button>
                <button type="submit" class="btn btn-primary auto" value="false">Delete</button>
            </div>
        </div>
    }
</div>